plugins/
elpa/
/pde/
/perlysense/
/projectile-bookmarks.eld
/costum/
/ede-projects.el
/editortools.el
/el-get/
/eshell/
/games/
/irony/
/modules/
/nethack/
/projects/
/saves/
/semanticdb/
/sepia/
session*
\#*
\%*
/.python-environments/
/.cask/
/.sx/
/abbrev_defs
/ac-comphist.dat
/ac-sh.el
/auto-save-list/
/backups/
/c-config-el
/c-config.el
/gas-mode.el
/html-deluxe
/projectile.cache
/snippets/
/speed-type/
/srecode-map.el
/tramp
/tutorial/
/url/
